@import "tailwindcss";

/* 항상 보이는 스크롤바 */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #94a3b8 transparent;
}

/* Chrome, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 999px;
}